<div class="container-fluid">
  <div class="row">
    <div class="col mb-2" *ngFor="let pack of packs">
          <div class="card p-2">
              <div class="card-body">
                <h5 class="card-title" (click)="onSelected(pack)"  class="t1">{{ pack.nombre }}</h5>
                  <p class="card-text">{{ pack.precio }}</p>
              </div>
           </div>
      </div>
   </div>
</div>
<div *ngIf="selected">
  <app-pack-detail [packDetail]="selectedPack"></app-pack-detail>
</div>
