

<div class="container bootstrap snippets bootdeys">
  <div class="row">

      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                  <div class="content">
                      <h6 class="category">Detalle de un paquetes de servicios</h6>
                      <h4 class="title" role="button" style="font-size: 180%;">{{packDetail.nombre}}</h4>
                      <p class="description">Precio: ${{packDetail.precio}}</p>
                      <p class="description">Incluye los siguientes servicios: </p>
                      <div class="description">
                        <div *ngFor="let servicio of packDetail.serviciosDuenos">
                          <dd>{{servicio.nombre}}</dd>
                          </div>
                          <div *ngFor="let servicio of packDetail.serviciosMascotas">
                            <dd>{{servicio.nombre}}</dd>
                            </div>
                          </div>
                  </div>
              </div> <!-- end card -->
          </div>
      </div>

  </div>
