
 <div class="container bootstrap snippets bootdeys">
  <div class="row">

      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                  <div class="content">
                      <h6 class="category">Detalle de un servicio para Mascotas</h6>
                      <h4 class="title" role="button" style="font-size: 180%;">{{servicioDetail.nombre}}</h4>
                      <p class="description">Precio: ${{servicioDetail.precio}}</p>
                      <p class="description">Restricciones: {{servicioDetail.restricciones}}</p>

              </div> <!-- end card -->
          </div>
      </div>

  </div>
