<div class="panel-body">
  <div class="border margin p-3">
    <p class="h3 p-2">{{ hallOfFameDetail?.nombre }}</p>
    <div class="row">



      <div class="col-10">
        <div class="row">
          <div
            class="card p-2 mb-2"
            style="width: 7rem; height: 10rem"
            *ngFor="let perro of hallOfFameDetail?.perros"
          >
            <img
              class="card-img-top"
              src="{{ perro.fotoAntes }}"
              alt="{{ perro.nombre }}"
            />
            <img
              class="card-img-top"
              src="{{ perro.fotodespues }}"
              alt="{{ perro.nombre }}"
            />


          </div>
        </div>
      </div>



    </div>
  </div>
</div>
