<!-- Navigation bar -->
<div class="container-fluid">
  <div class="row">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #877BAE">
      <div class="container-fluid">
        <a class="navbar-brand">DogSpa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Aqui empiezan los botones de la barra de navegacion-->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <a class="nav-link" aria-expanded="false" (click)="goToSedes()">Sedes</a>

            <li class="nav-item dropdown">
              <a class="nav-link"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="goToPerro()">Perros</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="goToHalls()">Halls Of Fame</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="goToProductos()">Productos</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="goToOfertas()">Ofertas</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="goToPacks()">Packs</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="goToServiciosDuenos()">Servicios para dueños</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- Main Router Outlet -->
  <div class="row" id="principal">
    <router-outlet></router-outlet>
  </div>
</div>
