.black-text {
  color: black;
}

.card {
  background-color:#DBBFDB ;
}

.h2 {
  color: #B6B5D8;
  font-family:'Monaco';
  width: auto;
  height: auto;

}

.fondo {
  background-color: #B6B5D8;
  border-radius: 4px;
  border-color: black;
  width: max-content;
  height: max-content;
}
.btn{
  align-self: center;
  background-color: #877BAE;
  width: max-content;
  height: max-content;
}

.hofs{
  padding-left: 35px;
  width: auto;
  height: auto;
}
