<div *ngIf="selected">
  <!--<app-producto [producto]="selectedProducto"></app-producto> -->
</div>

<hr />

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let producto of productos" class="col mb-2">
      <div class="card p-2" style="width: 15rem; height: 33rem">
        <img
          class="card-img-top"

          alt="{{ producto.nombre }}"
          alt="{{ producto.precio }}"
          (click)="onSelected(producto)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <!--<p class="card-text">[{{ producto.sedes.nombre }}]</p> -->
        </div>
      </div>
    </div>
  </div>
</div>

