
<div class="container-fluid">
<div class="parallax p1" id="section-1">
  <div class="h1group">
      <h1>Hola.</h1>
      <h2>Bienvenido a DogSpa.</h2>
    </div>
</div>
</div>




<div class="container1" (click)="goToSedes()">
  <div class="center">
    <button class="btn">
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>Mira nuestras sedes.</span>
    </button>
  </div>
</div>

<div class="container2" (click)="goToProductos()">
  <div class="center">
    <button class="btn">
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>Mira nuestros productos.</span>
    </button>
  </div>
</div>

<div class="container3" (click)="goToPacks()">
  <div class="center">
    <button class="btn">
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>Mira nuestros paquetes.</span>
    </button>
  </div>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
