<div class="container-fluid mt-2 fondo border">
  <h2 class="text-center display-4">Halls Of Fame</h2>

  <div class="row">
    <div class="col-2 hofs">
      <app-search  (searchTextChanged)="onSearchTextEntered($event)"></app-search>
      <br>
      <div *ngFor="let hof of hofs" class="book-card">
        <div class="card p-2 mb-2" style="width: 12rem; height: 15rem"  *ngIf=" searchText === ''  || hof.nombre.toLowerCase().includes(searchText)" >

            <div class="card-body black-text text-center">
              <h5 class="card-title">{{ hof.nombre }}</h5>
              <a
            class="card-block text-decoration-none text-center"
            (click)="selectHof(hof)"
          >
              <p class="btn btn-light border-dark">
                Ver HoF
              </p>
              </a>
            </div>

          <div class="card-footer border-dark">Donde los perritos son muy felices :)</div>
        </div>
      </div>
    </div>
    <div class="col-10" *ngIf="selected">
      <app-perros-list [hallOfFameDetail]="selectedHof"></app-perros-list>
    </div>
  </div>
</div>
