<div *ngIf="selected">
  <app-serviciosDuenos-detail [servicioDetail]="selectedService"></app-serviciosDuenos-detail>
</div>
<div class="container bootstrap snippets bootdeys">
  <div class="row">

      <div class="col-md-4 col-sm-6 content-card" *ngFor="let servicios of serviciosDuenos" (click)="onSelected(servicios)">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                  <div class="content">
                      <h6 class="category">Servicio para dueños</h6>
                      <h4 class="title" role="button" style="font-size: 180%;">{{servicios.nombre}}</h4>
                      <p class="description">Precio: ${{servicios.precio}}</p>
                  </div>
              </div> <!-- end card -->
          </div>
      </div>

  </div>
  </div>

